<button nz-button routerLink="/register">SignUp</button>
<button *ngIf="width>400" nz-button nzType="primary" nzDanger (click)="logout()">Logout</button>
<nz-avatar nz-page-header-avatar nzSrc="https://avatars0.githubusercontent.com/u/22736418?s=88&v=4"></nz-avatar>
<a nz-dropdown [nzDropdownMenu]="menu">
  <nz-page-header-title>{{nomeAccount}}<i nz-icon nzType="down" style="font-size: 10px;"></i>
  </nz-page-header-title>
  <nz-page-header-tags>
    <nz-tag [nzColor]="status.color">{{status.name}}</nz-tag>
  </nz-page-header-tags>
</a>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu nzSelectable>
    <li nz-menu-item>Il mio profilo</li>
    <li nz-menu-item>Settings</li>
    <li nz-submenu nzTitle="Cambia stato">
      <ul>
        <li nz-menu-item (click)="changeStatus('Online')">Online</li>
        <li nz-menu-item (click)="changeStatus('ND')">Non disponibile</li>
        <li nz-menu-item (click)="changeStatus('Offline')">Offline</li>
        <li nz-menu-item (click)="changeStatus('Invisibile')">Invisibile</li>
      </ul>
    <li nz-menu-item>Invia un feedback</li>
    <li nz-menu-item nzDanger (click)="logout()">Esci</li>
  </ul>
</nz-dropdown-menu>
