<nz-layout class="layout">
  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
    <div class="logo" routerLink="/home"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/clienti">
        <i nz-icon nzType="user" nzTheme="outline"></i>
        <span>Clienti</span>
      </li>
      <li nz-menu-item routerLink="/fatture">
        <i nz-icon nzType="file-search" nzTheme="outline"></i>
        <span>Fatture</span>
      </li>
      <li nz-menu-item routerLink="/utenti" routerLinkActive="ant-menu-item-selected">
        <i nz-icon nzType="team" nzTheme="outline"></i>
        <span>Utenti</span>
      </li>
      <li nz-menu-item routerLink="/admin">
        <i nz-icon nzType="font-colors" nzTheme="outline"></i>
        <span>Admin</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>

      <nz-page-header-extra>
        <button nz-button routerLink="/register">SignUp</button>
        <button *ngIf="width>400" nz-button nzType="primary" nzDanger (click)="logout()">Logout</button>
        <nz-avatar nz-page-header-avatar nzSrc="https://avatars0.githubusercontent.com/u/22736418?s=88&v=4"></nz-avatar>
        <a nz-dropdown [nzDropdownMenu]="menu" >
          <nz-page-header-title>{{nomeAccount}}<i nz-icon nzType="down" style="font-size: 10px;"></i>
          </nz-page-header-title>
          <nz-page-header-tags>
            <nz-tag [nzColor]="status.color">{{status.name}}</nz-tag>
          </nz-page-header-tags>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item>Il mio profilo</li>
            <li nz-menu-item>Settings</li>
            <li nz-submenu nzTitle="Cambia stato">
              <ul>
                <li nz-menu-item (click)="changeStatus('Online')">Online</li>
                <li nz-menu-item (click)="changeStatus('ND')">Non disponibile</li>
                <li nz-menu-item (click)="changeStatus('Offline')">Offline</li>
                <li nz-menu-item (click)="changeStatus('Invisibile')">Invisibile</li>
              </ul>
            <li nz-menu-item>Invia un feedback</li>
            <li nz-menu-item nzDanger (click)="logout()">Esci</li>
          </ul>
        </nz-dropdown-menu>
      </nz-page-header-extra>


    </nz-header>
    <nz-content>
      <h1 class="m-3">Utenti</h1>
      <nz-pagination [(nzPageIndex)]="page" [nzTotal]="totalElements/2" nzShowQuickJumper (nzPageIndexChange)="getAllUsers(page)">
      </nz-pagination>
      <br>
      <nz-table #sortTable [nzData]="utenti" nzTableLayout="fixed" [nzFrontPagination]="false">
        <thead>
          <tr>
            <th >
              Id Utente
            </th>
            <th>
              Username
            </th>
            <th>
              E-mail
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of sortTable.data">
            <td>{{ data.id }}</td>
            <td>{{ data.username }}</td>
            <td>{{ data.email }}</td>
          </tr>
        </tbody>
      </nz-table>
      <nz-pagination [(nzPageIndex)]="page" [nzTotal]="totalElements/2" nzShowQuickJumper (nzPageIndexChange)="getAllUsers(page)">
      </nz-pagination>

    </nz-content>

  </nz-layout>
</nz-layout>

