.logo {
  height: 32px;
  width: 70px;
  background-image: url(../../assets/logo-spaces.webp);
  background-size: cover;
  margin: 16px;
}
nz-header {
  background: rgba(255, 255, 255, 0.2);
  padding: 0 5%;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
nz-content {
  margin: 24px 16px ;
}
.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 100%;
}
.layout{
  height:180vh;
}
.border {
  border:1px solid white;
  border-radius: 10px;
  padding:5px 10%;
  margin-bottom: 5px;
}
@media screen and (max-width: 460px){
  nz-sider{
    z-index: 20;
  }
  h2{
    margin-top:40px
  }
}
