<nz-layout class="layout">
  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
    <app-sidebar></app-sidebar>
  </nz-sider>
  <nz-layout>
    <nz-header>

      <nz-page-header-extra>
       <app-header></app-header>
      </nz-page-header-extra>


    </nz-header>
    <ng-container *ngIf="!errors;else error">
      <nz-content *ngIf="!cancelled">
        <nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon
          nzTitle={{clienteDettaglio.ragioneSociale}}>
          <nz-page-header-extra id="actions">
            <button nz-button (click)="showModal()">Modifica cliente</button>
            <button nz-button nzType="primary" (click)="nuovaFattura()">Aggiungi nuova fattura</button>
            <button nz-button nzType="primary" (click)="mostraFatture()">Fatture di questo cliente</button>
            <button nz-button nzType="primary" nzDanger (click)="showDeleteConfirm()">Cancella cliente</button>
          </nz-page-header-extra>
          <nz-modal nzMaskClosable="false" [(nzVisible)]="isVisible" [nzWidth]="modalWidth" nzTitle="Modifica Cliente"
            (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">
            <div *nzModalContent id="creaModal">
              <app-modifica-cliente [clienteDettaglio]="clienteDettaglio"></app-modifica-cliente>
            </div>
          </nz-modal>
          <nz-modal nzMaskClosable="false" [(nzVisible)]="fatVisible" [nzWidth]="modalWidth"
            nzTitle="Crea Nuova Fattura" (nzOnCancel)="handleCancelFat()" (nzOnOk)="handleOkFat()"
            [nzOkLoading]="isOkLoading">
            <div *nzModalContent id="creaModal">
              <app-fattura-da-clienti [clienteDettaglio]="clienteDettaglio" [stati]="stati"></app-fattura-da-clienti>
            </div>
          </nz-modal>
        </nz-page-header>
        <h2 *ngIf="loading">Loading...</h2>
        <nz-descriptions nzTitle={{clienteDettaglio.ragioneSociale}} nzBordered [nzSize]="'small'"
          [nzColumn]="{ xxl: 4, xl: 3, lg: 3, md: 3, sm: 2, xs: 1 }">
          <nz-descriptions-item nzTitle="Partita IVA">{{clienteDettaglio.partitaIva}}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Tipo azienda cliente">{{clienteDettaglio.tipoCliente}}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Email">{{clienteDettaglio.email}}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Pec">{{clienteDettaglio.pec}}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Telefono">{{clienteDettaglio.telefono}}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Data di inserimento">{{clienteDettaglio.dataInserimento}}
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Info Contatto">
            Nome Contatto: {{clienteDettaglio.nomeContatto}}
            <br />
            Cognome Contatto: {{clienteDettaglio.cognomeContatto}}
            <br />
            Telefono Contatto: {{clienteDettaglio.telefonoContatto}}
            <br />
            Email Contatto: {{clienteDettaglio.emailContatto}}
            <br />
            Data ultimo contatto: {{clienteDettaglio.dataUltimoContatto}}
            <br />
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Indirizzo Sede Operativa">
            via: {{clienteDettaglio.indirizzoSedeOperativa.via}}
            <br />
            civico: {{clienteDettaglio.indirizzoSedeOperativa.civico}}
            <br />
            cap: {{clienteDettaglio.indirizzoSedeOperativa.cap}}
            <br />
            localita: {{clienteDettaglio.indirizzoSedeOperativa.localita}}
            <br />
            comune: {{clienteDettaglio.indirizzoSedeOperativa.comune.nome}}
            <br />
            provincia: {{clienteDettaglio.indirizzoSedeOperativa.comune.provincia.nome}}
            <br />
            sigla: {{clienteDettaglio.indirizzoSedeOperativa.comune.provincia.sigla}}
            <br />
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Indirizzo Sede Legale" *ngIf="clienteDettaglio.indirizzoSedeLegale.via">
            via: {{clienteDettaglio.indirizzoSedeLegale.via}}
            <br />
            civico: {{clienteDettaglio.indirizzoSedeLegale.civico}}
            <br />
            cap: {{clienteDettaglio.indirizzoSedeLegale.cap}}
            <br />
            localita: {{clienteDettaglio.indirizzoSedeLegale.localita}}
            <br />
            comune: {{clienteDettaglio.indirizzoSedeLegale.comune.nome}}
            <br />
            provincia: {{clienteDettaglio.indirizzoSedeLegale.comune.provincia.nome}}
            <br />
            sigla: {{clienteDettaglio.indirizzoSedeLegale.comune.provincia.sigla}}
            <br />
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Fatturato annuale" *ngIf="clienteDettaglio.fatturatoAnnuale">
            {{clienteDettaglio.fatturatoAnnuale}}</nz-descriptions-item>
        </nz-descriptions>
        <h2 *ngIf="loading">Loading...</h2>
        <nz-table #basicTable *ngIf="risultato" [nzData]="risultato" [nzTotal]="totalElements">
          <thead>
            <tr>
              <th>Id</th>
              <th>Importo</th>
              <th>Stato</th>
              <th>Anno</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>{{ data.id }}</td>
              <td>{{ data.importo }}</td>
              <td>{{ data.stato.nome }}</td>
              <td>{{ data.anno }}</td>
              <td>
                <button nz-button nzType="primary" (click)="dettaglioFattura(data)">Dettaglio</button>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-content>
    </ng-container>
    <ng-template #error>
      <nz-result nzStatus="warning" nzTitle="La risorsa che stavi cercando non è stata trovata o è corrotta">
        <div nz-result-extra>
          <p>Prova a tornare alla pagina clienti e riprova</p>
          <button nz-button nzType="primary" routerLink="/clienti">Back to clienti</button>
        </div>
      </nz-result>
    </ng-template>
  </nz-layout>
