.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

nz-header {
  background: rgba(255, 255, 255, 0.2);
  padding: 0 5%;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

nz-content {
  margin: 24px 16px ;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 100%;
}
.layout{
  height:100vh;
}
@media screen and (max-width:510px) {
  #actions{
    display: flex;
    flex-direction: column;
gap: 15px;
flex-basis: 250px;
  }
  nz-sider{
    z-index:20
  }
}
