<nz-layout class="layout">
  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
    <app-sidebar></app-sidebar>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <nz-page-header-extra>
        <app-header></app-header>
      </nz-page-header-extra>
    </nz-header>
    <nz-content>
      <nz-page-header>
        <nz-page-header-title>Clienti</nz-page-header-title>
        <nz-page-header-extra>
          <button nz-button (click)="nuovoModal()">Nuovo Cliente</button>
          <button nz-button (click)="cercaModal()">Cerca Cliente</button>
        </nz-page-header-extra>
        <nz-modal nzMaskClosable="false" [(nzVisible)]="isVisible" [nzWidth]="modalWidth" nzTitle="Crea Nuovo Cliente"
          (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">
          <div *nzModalContent id="creaModal">
            <app-nuovo-cliente [comuni]="comuni" [province]="province"></app-nuovo-cliente>
          </div>
        </nz-modal>
        <nz-modal nzMaskClosable="false" [(nzVisible)]="cercaVisible" [nzWidth]="modalWidth" nzTitle="Ricerca Cliente"
          (nzOnCancel)="handleCancelCerca()" (nzOnOk)="handleOkCerca()">
          <div *nzModalContent id="creaModal">
            <app-cerca-cliente></app-cerca-cliente>
          </div>
        </nz-modal>
        <nz-page-header-content>
          <nz-row nzType="flex">
            <nz-statistic *ngIf="!loading;else load" nzTitle="Clienti totali:" [nzValue]="totalElements"></nz-statistic>
            <ng-template #load>Loading...</ng-template>
          </nz-row>
        </nz-page-header-content>
      </nz-page-header>
      <nz-pagination [(nzPageIndex)]="page" [nzTotal]="totalElements/2" nzShowQuickJumper
        (nzPageIndexChange)="getAllClients(page)">
      </nz-pagination>
      <br>
      <nz-table #sortTable [nzData]="clienti" nzTableLayout="fixed" [nzFrontPagination]="false">
        <thead>
          <tr>
            <th [nzSortFn]="colonnaId.compare" [nzSortPriority]="colonnaId.priority">
              Id Cliente
            </th>
            <th>
              Nome
            </th>
            <th *ngIf="width>400">
              E-mail
            </th>
            <th *ngIf="width>400">
              Telefono
            </th>
            <th *ngIf="width>400" [nzSortFn]="colonnaFatturato.compare" [nzSortPriority]="colonnaFatturato.priority">
              Fatturato annuale
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of sortTable.data">
            <td>{{ data.id }}</td>
            <td>{{ data.ragioneSociale }}</td>
            <td *ngIf="width>400">{{ data.email }}</td>
            <td *ngIf="width>400">{{ data.telefono }}</td>
            <td *ngIf="width>400">{{data.fatturatoAnnuale}}</td>
            <td><button nz-button nzType="primary" (click)="dettaglioCliente(data)">Dettaglio</button></td>
          </tr>
        </tbody>
      </nz-table>
      <nz-pagination [(nzPageIndex)]="page" [nzTotal]="totalElements/2" nzShowQuickJumper
        (nzPageIndexChange)="getAllClients(page)">
      </nz-pagination>
    </nz-content>
  </nz-layout>
</nz-layout>
