<nz-layout class="layout">
  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
    <div class="logo" routerLink="/home"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/clienti">
        <i nz-icon nzType="user" nzTheme="outline"></i>
        <span>Clienti</span>
      </li>
      <li nz-menu-item routerLink="/fatture" routerLinkActive="ant-menu-item-selected">
        <i nz-icon nzType="file-search" nzTheme="outline"></i>
        <span>Fatture</span>
      </li>
      <li nz-menu-item routerLink="/utenti">
        <i nz-icon nzType="team" nzTheme="outline"></i>
        <span>Utenti</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="user"></i>
        <span>nav 4</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>

      <nz-page-header-extra>
        <button nz-button routerLink="/register">SignUp</button>
        <button nz-button nzType="primary" nzDanger>Logout</button>
        <nz-avatar nz-page-header-avatar nzSrc="https://avatars0.githubusercontent.com/u/22736418?s=88&v=4"></nz-avatar>
        <a nz-dropdown [nzDropdownMenu]="menu" >
          <nz-page-header-title>{{nomeAccount}}<i nz-icon nzType="down" style="font-size: 10px;"></i>
          </nz-page-header-title>
          <nz-page-header-tags>
            <nz-tag [nzColor]="status.color">{{status.name}}</nz-tag>
          </nz-page-header-tags>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item>Il mio profilo</li>
            <li nz-menu-item>Settings</li>
            <li nz-submenu nzTitle="Cambia stato">
              <ul>
                <li nz-menu-item (click)="changeStatus('Online')">Online</li>
                <li nz-menu-item (click)="changeStatus('ND')">Non disponibile</li>
                <li nz-menu-item (click)="changeStatus('Offline')">Offline</li>
                <li nz-menu-item (click)="changeStatus('Invisibile')">Invisibile</li>
              </ul>
            <li nz-menu-item>Invia un feedback</li>
            <li nz-menu-item nzDanger>Esci</li>
          </ul>
        </nz-dropdown-menu>
      </nz-page-header-extra>
    </nz-header>

    <nz-content>
      <nz-page-header>
        <nz-page-header-title>Fatture</nz-page-header-title>
        <nz-page-header-extra>
          <button nz-button (click)="showModal()">Nuova fattura</button>
          <button nz-button (click)="cercaModal()">Cerca Fattura</button>
          <button nz-button nzType="primary">Lorem</button>
        </nz-page-header-extra>
        <nz-modal
        nzMaskClosable="false"
        [(nzVisible)]="isVisible"
        nzWidth="60vw"
        nzTitle="Crea Nuova Fattura"
        (nzOnCancel)="handleCancel()"
        (nzOnOk)="handleOk()"
        [nzOkLoading]="isOkLoading"
      >
        <div *nzModalContent id="creaModal">
          <app-nuova-fattura [stati]="stati" ></app-nuova-fattura>
        </div>
      </nz-modal>
      <nz-modal
        nzMaskClosable="false"
        [(nzVisible)]="cercaVisible"
        nzWidth="60vw"
        nzTitle="Cerca Fattura"
        (nzOnCancel)="handleCancelCerca()"
        (nzOnOk)="handleOkCerca()"
      >
        <div *nzModalContent id="creaModal">
          <app-cerca-fattura [stati]="stati" ></app-cerca-fattura>
        </div>
      </nz-modal>
        <nz-page-header-content>
          <nz-row nzType="flex">
            <nz-statistic nzTitle="Fatture totali:" [nzValue]="totalElements" ></nz-statistic>
          </nz-row>
        </nz-page-header-content>
      </nz-page-header>
      <nz-pagination [(nzPageIndex)]="page" [nzTotal]="totalElements/2" nzShowQuickJumper (nzPageIndexChange)="getAllFatture(page)">
      </nz-pagination>
      <br>
      <nz-table #sortTable [nzData]="fatture" nzTableLayout="fixed" [nzFrontPagination]="false">
        <thead>
          <tr>
            <th [nzSortFn]="colonnaId.compare" [nzSortPriority]="colonnaId.priority">
              Id Fattura
            </th>
            <th >
              Cliente
            </th>
            <th [nzSortFn]="colonnaNumero.compare" [nzSortPriority]="colonnaNumero.priority">
              Numero Fattura
            </th>
            <th>
              Data
            </th>
            <th [nzSortFn]="colonnaImporto.compare" [nzSortPriority]="colonnaImporto.priority">
              Importo
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of sortTable.data" (click)="dettaglioFattura(data)">
            <td>{{ data.id }}</td>
            <td>{{ data.cliente.ragioneSociale }}</td>
            <td>{{ data.numero }}</td>
            <td>{{ data.data }}</td>
            <td>{{ data.importo }}</td>
          </tr>
        </tbody>
      </nz-table>
      <nz-pagination [(nzPageIndex)]="page" [nzTotal]="totalElements/2" nzShowQuickJumper (nzPageIndexChange)="getAllFatture(page)">
      </nz-pagination>

    </nz-content>

  </nz-layout>
</nz-layout>
