<nz-layout class="layout">
  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
    <div class="logo" routerLink="/home"><img src="../../assets/logo-spaces.webp" alt="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/clienti">
        <i nz-icon nzType="user" nzTheme="outline"></i>
        <span>Clienti</span>
      </li>
      <li nz-menu-item routerLink="/fatture" routerLinkActive="ant-menu-item-selected">
        <i nz-icon nzType="file-search" nzTheme="outline"></i>
        <span>Fatture</span>
      </li>
      <li nz-menu-item routerLink="/utenti">
        <i nz-icon nzType="team" nzTheme="outline"></i>
        <span>Utenti</span>
      </li>
      <li nz-menu-item routerLink="/admin">
        <i nz-icon nzType="font-colors" nzTheme="outline"></i>
        <span>Admin</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <nz-page-header-extra>
        <button nz-button routerLink="/register">SignUp</button>
        <button *ngIf="width>400" nz-button nzType="primary" nzDanger (click)="logout()">Logout</button>
        <nz-avatar nz-page-header-avatar nzSrc="https://avatars0.githubusercontent.com/u/22736418?s=88&v=4"></nz-avatar>
        <a nz-dropdown [nzDropdownMenu]="menu">
          <nz-page-header-title>{{nomeAccount}}<i nz-icon nzType="down" style="font-size: 10px;"></i>
          </nz-page-header-title>
          <nz-page-header-tags>
            <nz-tag [nzColor]="status.color">{{status.name}}</nz-tag>
          </nz-page-header-tags>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item>Il mio profilo</li>
            <li nz-menu-item>Settings</li>
            <li nz-submenu nzTitle="Cambia stato">
              <ul>
                <li nz-menu-item (click)="changeStatus('Online')">Online</li>
                <li nz-menu-item (click)="changeStatus('ND')">Non disponibile</li>
                <li nz-menu-item (click)="changeStatus('Offline')">Offline</li>
                <li nz-menu-item (click)="changeStatus('Invisibile')">Invisibile</li>
              </ul>
            <li nz-menu-item>Invia un feedback</li>
            <li nz-menu-item nzDanger (click)="logout()">Esci</li>
          </ul>
        </nz-dropdown-menu>
      </nz-page-header-extra>
    </nz-header>
    <nz-content>
      <nz-page-header>
        <nz-page-header-title>Fatture</nz-page-header-title>
        <nz-page-header-extra>
          <button nz-button (click)="showModal()">Nuova fattura</button>
          <button nz-button (click)="cercaModal()">Cerca Fattura</button>
        </nz-page-header-extra>
        <nz-modal nzMaskClosable="false" [(nzVisible)]="isVisible" [nzWidth]="modalWidth" nzTitle="Crea Nuova Fattura"
          (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">
          <div *nzModalContent id="creaModal">
            <app-nuova-fattura [stati]="stati"></app-nuova-fattura>
          </div>
        </nz-modal>
        <nz-modal nzMaskClosable="false" [(nzVisible)]="cercaVisible" [nzWidth]="modalWidth" nzTitle="Cerca Fattura"
          (nzOnCancel)="handleCancelCerca()" (nzOnOk)="handleOkCerca()">
          <div *nzModalContent id="creaModal">
            <app-cerca-fattura [stati]="stati"></app-cerca-fattura>
          </div>
        </nz-modal>
        <nz-page-header-content>
          <nz-row nzType="flex">
            <nz-statistic *ngIf="!loading;else load" nzTitle="Fatture totali:" [nzValue]="totalElements"></nz-statistic>
            <ng-template #load>Loading...</ng-template>
          </nz-row>
        </nz-page-header-content>
      </nz-page-header>
      <nz-pagination [(nzPageIndex)]="page" [nzTotal]="totalElements/2" nzShowQuickJumper
        (nzPageIndexChange)="getAllFatture(page)">
      </nz-pagination>
      <br>
      <nz-table #sortTable [nzData]="fatture" nzTableLayout="fixed" [nzFrontPagination]="false">
        <thead>
          <tr>
            <th [nzSortFn]="colonnaId.compare" [nzSortPriority]="colonnaId.priority">
              Id Fattura
            </th>
            <th>
              Cliente
            </th>
            <th *ngIf="width>400" [nzSortFn]="colonnaNumero.compare" [nzSortPriority]="colonnaNumero.priority">
              Numero Fattura
            </th>
            <th *ngIf="width>400">
              Data
            </th>
            <th [nzSortFn]="colonnaImporto.compare" [nzSortPriority]="colonnaImporto.priority">
              Importo
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of sortTable.data" (click)="dettaglioFattura(data)">
            <td>{{ data.id }}</td>
            <td>{{ data.cliente.ragioneSociale }}</td>
            <td *ngIf="width>400">{{ data.numero }}</td>
            <td *ngIf="width>400">{{ data.data }}</td>
            <td>{{ data.importo }}</td>
          </tr>
        </tbody>
      </nz-table>
      <nz-pagination [(nzPageIndex)]="page" [nzTotal]="totalElements/2" nzShowQuickJumper
        (nzPageIndexChange)="getAllFatture(page)">
      </nz-pagination>
    </nz-content>
  </nz-layout>
</nz-layout>
