<div class="logo" routerLink="/home"><img src="../../assets/logo-spaces.webp" alt="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/clienti">
        <i nz-icon nzType="user" nzTheme="outline"></i>
        <span>Clienti</span>
      </li>
      <li nz-menu-item routerLink="/fatture" routerLinkActive="ant-menu-item-selected">
        <i nz-icon nzType="file-search" nzTheme="outline"></i>
        <span>Fatture</span>
      </li>
      <li nz-menu-item routerLink="/utenti">
        <i nz-icon nzType="team" nzTheme="outline"></i>
        <span>Utenti</span>
      </li>
      <li nz-menu-item routerLink="/admin">
        <i nz-icon nzType="font-colors" nzTheme="outline"></i>
        <span>Admin</span>
      </li>
    </ul>
