<div class="background1">
  <nav>
    <ul nz-menu nzMode="horizontal">
      <li nz-menu-item routerLink="/login">
        <i nz-icon nzType="login" nzTheme="outline"></i>
        Login
      </li>
      <li nz-menu-item routerLink="/register">
        <i nz-icon nzType="user-add" nzTheme="outline"></i>
        Signup
      </li>
    </ul>
  </nav>
  <div class="container">
    <h1>Benvenuto in Spaces.</h1>
    <p>Gestisci clienti e fatture in modo semplice e sicuro, da casa tua, come se fossi in ufficio.</p>
    <button nz-button nzType="default" routerLink="/login">Per usare la web-app fai login o registrati</button>
  </div>
  <div class="background2"></div>
</div>
