<nz-layout class="layout">
  <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
    <div class="logo" routerLink="/home"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/clienti">
        <i nz-icon nzType="user" nzTheme="outline"></i>
        <span>Clienti</span>
      </li>
      <li nz-menu-item routerLink="/fatture">
        <i nz-icon nzType="file-search" nzTheme="outline"></i>
        <span>Fatture</span>
      </li>
      <li nz-menu-item routerLink="/utenti">
        <i nz-icon nzType="team" nzTheme="outline"></i>
        <span>Utenti</span>
      </li>
      <li nz-menu-item routerLink="/admin">
        <i nz-icon nzType="font-colors" nzTheme="outline"></i>
        <span>Admin</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>

      <nz-page-header-extra>
        <button nz-button routerLink="/register">SignUp</button>
        <button *ngIf="width>400" nz-button nzType="primary" nzDanger (click)="logout()">Logout</button>
        <nz-avatar nz-page-header-avatar nzSrc="https://avatars0.githubusercontent.com/u/22736418?s=88&v=4"></nz-avatar>
        <a nz-dropdown [nzDropdownMenu]="menu">
          <nz-page-header-title>{{nomeAccount}}<i nz-icon nzType="down" style="font-size: 10px;"></i>
          </nz-page-header-title>
          <nz-page-header-tags>
            <nz-tag [nzColor]="status.color">{{status.name}}</nz-tag>
          </nz-page-header-tags>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item>Il mio profilo</li>
            <li nz-menu-item>Settings</li>
            <li nz-submenu nzTitle="Cambia stato">
              <ul>
                <li nz-menu-item (click)="changeStatus('Online')">Online</li>
                <li nz-menu-item (click)="changeStatus('ND')">Non disponibile</li>
                <li nz-menu-item (click)="changeStatus('Offline')">Offline</li>
                <li nz-menu-item (click)="changeStatus('Invisibile')">Invisibile</li>
              </ul>
            <li nz-menu-item>Invia un feedback</li>
            <li nz-menu-item nzDanger (click)="logout()">Esci</li>
          </ul>
        </nz-dropdown-menu>
      </nz-page-header-extra>


    </nz-header>
    <nz-content>
<nz-page-header
class="site-page-header"
(nzBack)="onBack()"
nzBackIcon
nzTitle="Fattura numero: #{{fatturaDettaglio.numero}}"
>
<nz-page-header-extra>
  <button nz-button (click)="showModal()">Modifica Fattura</button>
  <button nz-button nzType="primary">Cancella Fattura</button>
</nz-page-header-extra>
<nz-modal
nzMaskClosable="false"
[(nzVisible)]="isVisible"
[nzWidth]="modalWidth"
nzTitle="Modifica Stato Fattura"
(nzOnCancel)="handleCancel()"
(nzOnOk)="handleOk()"
[nzOkLoading]="isOkLoading"
>
<div *nzModalContent id="creaModal">
  <app-modifica-fattura [fatturaDettaglio]="fatturaDettaglio"></app-modifica-fattura>
</div>
</nz-modal>
</nz-page-header>
<nz-descriptions
nzBordered
[nzSize]="'small'"
[nzColumn]="{ xxl: 4, xl: 3, lg: 3, md: 3, sm: 2, xs: 1 }"
>
<nz-descriptions-item nzTitle="id fattura">{{fatturaDettaglio.id}}</nz-descriptions-item>
<nz-descriptions-item nzTitle="Data fattura">{{fatturaDettaglio.data}}</nz-descriptions-item>
<nz-descriptions-item nzTitle="Anno">{{fatturaDettaglio.anno}}</nz-descriptions-item>
<nz-descriptions-item nzTitle="Importo">{{fatturaDettaglio.importo}}</nz-descriptions-item>
<nz-descriptions-item nzTitle="Stato">{{fatturaDettaglio.stato.nome}}</nz-descriptions-item>
<nz-descriptions-item nzTitle=""></nz-descriptions-item>
<nz-descriptions-item nzTitle="Cliente">

  Ragione Sociale: {{fatturaDettaglio.cliente.ragioneSociale}}
  <br />
  Partita IVA: {{fatturaDettaglio.cliente.partitaIva}}
  <br />
</nz-descriptions-item>
</nz-descriptions>
</nz-content>

</nz-layout>
</nz-layout>
