<button (click)="log()">xD</button>
<div *ngIf="!fineRicerca">
<h3>Cerca il cliente a cui aggiungere la nuova fattura:</h3>
<p><i>(Puoi effettuare questa procedura direttamente dalla pagina personale del cliente)</i></p>
<form nz-form [formGroup]="searchForm" (ngSubmit)="submitSearch()">
<nz-form-item>
  <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="ricerca" nzRequired>Cerca per</nz-form-label>
  <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="campo obbligatorio!">
    <nz-select id="ricerca" formControlName="ricerca" nzPlaceHolder="Seleziona un metodo di ricerca"
      (ngModelChange)="changeSearch($event)">
      <nz-option nzValue="byId" nzLabel="Per id cliente"></nz-option>
      <nz-option nzValue="byRagioneSociale" nzLabel="Per ragione sociale"></nz-option>
    </nz-select>
  </nz-form-control>
</nz-form-item>
<ng-container *ngIf="byId">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="byid">Inserisci id</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="campo obbligatorio!">
      <input nz-input formControlName="value" id="byid" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary">Cerca cliente per Id</button>
    </nz-form-control>
  </nz-form-item>
</ng-container>
<ng-container *ngIf="byRagioneSociale">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="byragione">Cerca ragione sociale</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="campo obbligatorio!">
      <input nz-input formControlName="value" id="byragione" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary">Cerca cliente per ragione</button>
    </nz-form-control>
  </nz-form-item>
</ng-container>
</form>
<!--MOSTRO RISULTATO RICERCA-->
<nz-table #basicTable *ngIf="risultato" [nzData]="risultato">
  <thead>
    <tr>
      <th>Id</th>
      <th>RagioneSociale</th>
      <th>Partita IVA</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.id }}</td>
      <td>{{ data.ragioneSociale }}</td>
      <td>{{ data.partitaIva }}</td>
      <td>
        <a (click)="select(data)"> 一 Seleziona 一 </a>
      </td>
    </tr>
  </tbody>
</nz-table>
</div>
<div *ngIf="fineRicerca">
  <nz-table #onetable [nzData]="[1]" nzTableLayout="fixed" [nzFrontPagination]="false">
    <thead>
      <tr *ngFor="let data of onetable.data">
        <th>Id</th>
        <th>RagioneSociale</th>
        <th>Tipologia azienda</th>
        <th>Partita IVA</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.ragioneSociale }}</td>
        <td>{{ cliente.tipoCliente }}</td>
        <td>{{ cliente.partitaIva }}</td>
        <td>{{ cliente.email }}</td>
      </tr>
    </tbody>
  </nz-table>
  <h2>Dati Fattura</h2>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
   <!--DATA-->
   <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dataFattura" nzRequired>Data</nz-form-label>
    <nz-date-picker nzInline formControlName="data"></nz-date-picker>
  </nz-form-item>
    <!--NUMERO-->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="numero">Numero</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="campo obbligatorio!">
        <input type="number" nz-input formControlName="numero" id="numero" />
      </nz-form-control>
    </nz-form-item>
      <!--ANNO-->
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="anno">Anno</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="campo obbligatorio!">
          <nz-slider id="anno"  [nzTooltipPlacement]="'top'" [nzMin]="1970" [nzMax]="2050" formControlName="anno"></nz-slider>
        </nz-form-control>

    <!--IMPORTO-->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="importo">Importo</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="campo obbligatorio!">
        <input type="number" nz-input formControlName="importo" id="importo" />
      </nz-form-control>
    </nz-form-item>
      <!--STATO-->
      <div formGroupName="stato">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="stato" nzRequired>Stato</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="campo obbligatorio!">
      <nz-select id="stato" formControlName="nome" nzPlaceHolder="Seleziona uno stato fattura"
      (ngModelChange)="setIdStato($event)">
        <nz-option nzValue="PAGATA" nzLabel="PAGATA"></nz-option>
        <nz-option nzValue="NON PAGATA" nzLabel="NON PAGATA"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
        <!--STATO ID HIDDEN-->
        <nz-form-item>
          <input type="number" nz-input formControlName="id" *ngIf="false" />
        </nz-form-item>
      </div>
      <!--SUBMIT-->
      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary">Registra Fattura</button>
        </nz-form-control>
      </nz-form-item>
  </form>
</div>
